@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.themeText {
	color: orange;
}

.formContainer {
	max-width: 600px;
	margin: auto;
	margin-top: 5rem;
}

.formContainer #btn2.MuiButton-root {
	color: #fff;
	background-color: orange;
}
.formContainer .MuiButton-outlined {
	border: 2px solid orange;
}
.formContainer .MuiButton-root:hover {
	background-color: rgb(242, 157, 0);
	color: #fff;
}

.formContainer .iqAaNV,
.formContainer .fqYsDn,
.formContainer .bzdANM,
.formContainer .cByDhz,
.formContainer .dKHcfu,
.formContainer .hpGrHc,
.formContainer .elMpgh {
	background-color: orange;
}
.formContainer .iqAaNV:after,
.formContainer .fqYsDn:after,
.formContainer .bzdANM:after,
.formContainer .elMpgh:after,
.formContainer .dKHcfu:after,
.formContainer .hpGrHc:after {
	color: rgba(255, 166, 0, 0.713);
}

/* STEP ONE START */
.stepOne .MuiInput-underline:after {
	border-bottom: 2px solid orange;
}
.stepOne .MuiFormLabel-root.Mui-focused {
	color: orange;
}
.stepOne h2 {
	text-align: center;
}
.stepOne .inp {
	width: 100%;
}
/* STEP ONE END */

/* STEP TWO START */
.stepTwo .MuiInput-underline:after {
	border-bottom: 2px solid orange;
}
.stepTwo .MuiFormLabel-root.Mui-focused {
	color: orange;
}
.stepTwo h2 {
	text-align: center;
}
.stepTwo .inp {
	width: 100%;
}

.imgContainer {
	margin: auto;
	width: 280px;
	height: 220px;
}
.imgContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/* STEP TWO END */

/* STEP THREE START */
.stepThree .MuiInput-underline:after {
	border-bottom: 2px solid orange;
}
.stepThree .MuiFormLabel-root.Mui-focused {
	color: orange;
}
.stepThree h2 {
	text-align: center;
}
.stepThree .inp {
	width: 100%;
}

.imgContainer {
	margin: auto;
	width: 280px;
	height: 220px;
}
.imgContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/* STEP THREE END */

/* SUCCESS START */
.MuiDialog-paperWidthSm {
	max-width: 500px !important;
}
.successMain {
	padding: 1rem 0.2rem;
}
.successMain img {
	padding: 0rem 1rem;
	width: 100%;
	margin: auto;
}

.succesCont {
	padding: 1.4rem;
	padding-bottom: 0rem;
}
.successMain .succesBtn {
	width: 100%;
	color: #fff;
	background-color: orange;
	letter-spacing: 1.5px;
}
.successMain .succesBtn:hover {
	background-color: orange;
}
/* SUCCESS END */
